body {
  min-height: 9.5em;
  width: 24em;
}
.mdl-list {
  width: 85%;
}
.mdl-list__item-secondary-action {
  font-size: inherit;
  margin-right: 1em;
}
.mdl-textfield {
  font-size: inherit;
  padding : 0;
}
.mdl-textfield__input {
  font-size: inherit;
  padding: 0;
  text-align: center;
}
.mdl-textfield__label {
  bottom: 1px;
  font-size: inherit;
  line-height: normal;
  text-align: center;
  top: auto;
}
.singleDigitInput {
  text-align: center;
  width: 1.5em;
}